@import '../../index.scss';
@import '~bootstrap/scss/bootstrap';

.mcprodcont {
    padding-top: 70px;
    padding-bottom: 100px;
}
.mcsearresult {
    .mcsearchheader {
        font-size: 18px;
        padding-top: 12px;
        color: $produDark;
    }
    .mcproditemlist {
        .mcproduct {
            margin-bottom: 30px;
        }
        .mcproditem {
            background: #fff;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
            @include border-radius(6px);
            margin-bottom: 25px;
            min-height: 100%;
            border: 1px solid transparent;
            transition: 0.3s ease-in-out;
            -webkit-transition: 0.3s ease-in-out;
            -moz-transition: 0.3s ease-in-out;
            -ms-transition: 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 1px 24px rgba(0, 0, 0, 0.1);
                border-color: $brandColor;
                transition: 0.3s ease-in-out;
                -webkit-transition: 0.3s ease-in-out;
                -moz-transition: 0.3s ease-in-out;
                -ms-transition: 0.3s ease-in-out;
                transform: scale(1.01);
                -webkit-transform: scale(1.01);
            }
            .mcprodimg {
                text-align: center;
                border-bottom: 1px solid $dividerColor;
                padding: 15px;
                img {
                    max-width: 400px;
                    height: 300px;
                }
            }
            .mcprodinfo {
                padding: 15px;
                h5 {
                    font-size: 14px;
                    color: $produColor;
                }
                p {
                    font-size: 12px;
                    color: $lightGrey;
                    margin-bottom: 25px;
                    word-break: break-all;
                }
                .mcitemprice {
                    h4 {
                        font-size: 18px;
                        color: $fontColor;
                        margin-bottom: 0;
                    }
                }
                .mccartlink {
                    color: $brandColor;
                    font-size: 12px;
                    text-transform: uppercase;
                    position: relative;
                    background: none;
                    border: none;
                    padding: 0;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -5px;
                        width: 0;
                        height: 2px;
                        background: $brandColor;
                        transition: all 0.3s ease-out;
                    }
                    &:hover,
                    &:focus {
                        color: $brandColor;
                        outline: 0;
                        box-shadow: none;
                    }
                    &:hover:after,
                    &:focus:after {
                        width: 100%;
                        transition: all 0.3s ease-out;
                    }
                }
            }
        }
    }
    .mcsearchload {
        font-size: 12px;
        text-transform: uppercase;
        color: $brandColor;
        padding-top: 80px;
        cursor: pointer;
    }
}