body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/***  variables start ***/

$primaryBg: #f2f2f2;
$whiteBg: #fff;
$lightGreen: #92d6b0;
$fontColor: #444;
$lightGrey: #878787;
$brandColor: #42aa70;
$dividerColor: #e5e5e5;
$secondaryColor: #ef7631;
$errorColor: #f13e53;
$produColor:#19a453;
$produDark:#0f823f;
$paragraphColor:#878787;
$autheTextcColor:#4abcdd;
$advertiseBg:#c6c6c6;
$advertiseText:#838383;
$articleText:#3c3e49;

/***  variables end ***/
